<%- include("header") %>
    <%- include("nav") %> <br><br>

        <div class="home">
            <h1>Stop chasing paper receipts</h1>
            <p>Keeps everything organized so you can say goodbye <br> to that envelope of receipts!</p>
            <div class="image">
                <div class="img1"></div>
                <div class="img2"></div>
                <!-- <div class="img3"></div> -->
            </div>


            <a href="/signin">Sign in</a>
            <a href="/signup">Sign up</a>
        </div>

        <%- include("footer") %>