<div class="nav">
    <a href="/">Expense Tracker </a>
    <div class="signin">
        <a href="/signin">sign in</a>
        <a href="/signup">sign up</a>
        <i class="ri-menu-line"></i>
    </div>
</div>