<%- include("header") %>
<div class="fullpage">
<!-- <%- include("nav") %> <br><br> -->
<form action="/signup" method="post">
<!-- <h1>Sign up to save your information</h1> <br><br>
<input type="text" placeholder="Username" name="username"> <br><br>
<input type="email" placeholder="E-mail" name="email"> <br><br>
<input type="password" placeholder="Password" name="password"> <br><br>
<button>SUBMIT</button> -->


<div class="page">
    <div class="boder">
        <div class="login">
            <h1>Sign up</h1>
            <input type="text" placeholder="Username" name="username">  <br>
            <input type="email" placeholder="E-mail" name="email"> <br>
            <input type="password" placeholder="password" name="password"> <br>
            <p> if you have an account  - <a href="/signin">signin</a> </p>
            <button>Login</button> 
        </div>
    </div>

</div>

</form>

</div>
<%- include("footer") %>